.start_photos{
    margin-top: 12%;
    margin-left: 17%;
    }
    .buttons {
    margin-top: -15%  ;
    
    }
    
    #b1 {
        width: 250px ;
        height: 40px;
    margin-top: 20px  ;
    }
    
    #b2 {
        width: 250px ;
        height: 40px;
    margin-top: 20px  ;
    }
    
    #b3 {
        width: 250px ;
        height: 40px;
    margin-top: 20px  ;
    }
    
    #fest_right {
        margin-left: 300px ;
    }